/* 광고창 */
    .advertise_box {
        background: #91C8E4;
        text-align: center;
        padding: 10px 0;
    }
    .advertise_txt {
        color: #fff;
    }
/* 헤더 */
    .main_box {
        display: flex;
        justify-content: space-between;
        padding: 30px;
    }
    .main_logo .logo img {
        width: 235px;
    }
    nav {
        text-align: center;
    }
    .nav_above {
        display: flex;
        padding: 16px 0;
        align-items: center;
        justify-content: center;
    }

    .nav_above li {
        padding-right: 28px;
    }
    .user_info {
        padding-top: 16px;
    }
    .user_info a {
        padding-left: 30px;
    }
/* 메인 */
    .swiper-container {
        overflow: hidden;
    }
    .deli_img img,
    .slide_img img {
        width: 100%;
        display: block;
    }
    .food_img_01 {
        background-image: url();
    }
    .slide_txt_box{    
        display: block;
        width: 100%;
    }
    .slide_txt_01 {
        font-size: 3.125rem;
        font-weight: 500;
    }
    .slide_txt_01 span {
        font-size: 2rem;
        font-weight: 500;
        padding: 12px 0; 
    }
    .btn_allmenu {
        width: 210px;
        display: flex;
        align-items: center;
        font-size: 1.25rem;
        color: #fff;
        font-weight: 500;
        background: #4682A9;
        padding: 12.5px 20px; 
    }
    /* 2번째 섹션 */
    .second_cont {
        padding: 130px 195px;
    }
    .content_title {
        font-size: 1.875rem;
        font-weight: 500;
        padding-bottom: 80px;
    }
    .new_product {
        display: flex;
        flex-flow: row nowrap;
    }
    .product_box {
        width: 20%;
        display: block;
        margin-right: 5%;
    }
    .img_box {
        position: relative;
        padding-bottom: 29px;
    }
    .img_box img {
        width: 100%;
        display: block;
    }
    .upper_img {
        position: relative;
    }
    .lower_img {
        position: absolute;
        top: 0;
        bottom: 0;
        opacity: 0;
        transition: opacity 0.5s ease;
    }
    .img_box:hover .lower_img{
        opacity: 1;
    }
    .txt_name {
        font-size: 0.875rem;
        font-weight: 500;
        color: #555;
        padding-bottom: 11px;
    }
    .txt_price {
        font-size: 0.875rem;
        font-weight: 600;
    }
    .more_product {
        text-align: center;
        display: block;
        padding: 130px 0 0;
    }
    .more_btn {
        font-size: 1.375rem;
        color: #fff;
        padding: 12px 120px;
        background: #4682A9;
    }
    .third_cont {
        margin: 0 195px 130px 195px;
    }
    .hot_box .product_box {
        width: 90%;
        margin-right: 10%;
    }
    .forth_cont {
        margin: 130px 195px;
    }
    .reco_box {
        position: relative;
    }
    .brand_product {
        width: calc(100 / 3);
        display: flex;
        justify-content: space-between;
    }
    .brand_img {
        padding-bottom: 10px;
    }
    .reco_all_product {
        font-size: 1.25rem;
        color: #fff;
        background: #4682A9;
        padding: 15px 20px;
        position: absolute;
        right: 0;
        display: flex;
        align-items: center;
    }
    .reco_all_product img {padding-left: 3px;}
/* 배송비 무료 배너 */
    .delivery_bnr {
        background: #91C8E4;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 27px 0;
    }
    .delivery_txt {
        display: flex;
        flex-flow: column nowrap;
        text-align: right;
        padding-right: 75px;
    }
    .txt_01 {
        font-size: 1.875rem;
        font-weight: 500;
        color: #fff;
        padding-bottom: 8px;
    }
    .txt_02 {
        font-weight: 500;
        color: #fff;
    }
    /* 품질가격 배너 */
    .quality_bnr {
        background: #91C8E4;
        display: flex;
        justify-content: center;
        flex-flow: column nowrap;
        text-align: center;
        padding: 56px 0;
    }
    .qua_txt_01 {
        font-size: 1.875rem;
        font-weight: 500;
        color: #fff;
        padding-bottom: 8px;
    }
    .qua_txt_02 {
        font-weight: 500;
        color: #fff;
    }
    .fifth_cont {
        padding: 130px 195px;
    }
    .reco_box {
        display: flex;
        justify-content: space-between;
    }
    .reco_title {
        display: flex;
        flex-flow: column nowrap;
    }
    .explan {
        padding-top: 10px;
        color: #555;
    }
    /* 푸터 */
.footer_box {
    background: #F6F4EB;
    display: flex;
    align-items: center;
    padding: 132px 100px;
}
.badarang {
    width:60%;
}
.bold {
    font-size: 0.875rem;
    font-weight: 700;
    padding-right: 3px;
}
.regular {
    font-size: 0.875rem;
    color: #767676;
    padding-right: 10px;
}
.basic_info_01 {
    display: flex;
    align-items: center;
    padding-top: 52px;
}
.basic_info_02 {
    display: flex;
    align-items: center;
    padding: 5px 0;
}
.basic_info_03 {
    display: flex;
    align-items: center;
}
.copyright {
    padding-top: 95px;
    display: flex;
    font-weight: 100;
}
.haepoom {
    width: 55%;
    display: flex;
    padding: 0 79px;
}
.hp_info {
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-flow: column nowrap;
}
.hp_bold {
    font-size: 0.875rem;
    font-weight: 700;
    padding-bottom: 10px;
}
.hp_regular {
    font-size: 0.875rem;
    color: #767676;    
}
.pd_txt {
    padding-top: 55px;
}
.company_info {
    width: 55%;
}
.terms_info {
    text-align: right;
    padding-bottom: 50px;
}
.terms {
    padding: 0 30px;
}
.ps_info_terms {
    padding-right: 30px;
}
.info_box {
    display: flex;
    justify-content: space-between;
}
.customer_service,
.payment_info,
.sns {
    display: flex;
    flex-flow: column nowrap;
}
.customer_service > .bold, 
.payment_info > .bold,
.sns > .bold {padding-bottom: 15px; padding-right: 0;}
.customer_service > .regular,
.payment_info > .regular ,
.sns > .regular {
    padding-right: 0;
}
.cs_txt {
    padding-bottom: 15px;
}
.sns_txt {
    padding: 6px 0;
}